<%=  form_for :credit_card do |f| %>
<div> <%= f.label 'Please enter your credit card' %></div> 

<div><%=  f.text_field "credit card", class: "input_field" %></div>
<div class="submit"><%=  f.submit "Purchase" %></div>
<%  end %>
<div id = "output">
	<div id = "output0"></div>
	<div id = "output1"></div>
	<div id = "output2"></div>
	<div id = "output3"></div>
	<div id = "output4"></div>
	<div id = "output5"></div>
	<div id = "output6"></div>
	<div id = "output7"></div>
	<div id = "output8"></div>
</div>
