<div>

<div id="sub_page">

<h1> Your Transaction is being processed <%=  image_tag ('ajax-loader.gif'), class: "ajax-gif" %></h1>
<h6> Think about picking up some bespoke guitar picks for your new guitar </h6></br>
 <p> 20% off when you enter the following code <strong>5431tcW</strong></p>
 	<p> Take advantage now! Your purchase will still be completed </p>
	<p><%=  link_to ("www.google.com"), "Sweet Guitar Picks" %></p>
</div>
</div>